{% extends 'base.html' %}

{% block css %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />    

{% endblock %}

{% block content %}

<br />
<div class="container marketing">
    <div class="col-md-12 col-md-offset-8">
        <h2>LIST OF USERS</h2>
        <div class="container">            
            <table id="example" class="table mydatatable display table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th data-mdb-sort="true" scope="col">NickName</th>
                        <th scope="col">Name</th>
                        <th scope="col">e-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in user %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td class="input">{{i.username}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>           

    </div>
</div>

<br />
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        $('#').DataTable();
    
    });
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>    

{% endblock %}