{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}

<br />
<div class="container marketing">
    <div class="col-md-12 col-md-offset-8">
        <h2>LIST OF USERS</h2>
        <div class="container">            
            <table id="example" class="table mydatatable table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th data-mdb-sort="true" scope="col">NickName</th>
                        <th scope="col">Name</th>
                        <th scope="col">e-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in user %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td class="input">{{i.username}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>           

    </div>
</div>

<br />
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
{% endblock %}